.classification-container{
    background: aliceblue;
    margin: 10px auto auto;
    padding: 10px;
    width: 80%;
}

.knn-classification-container  table{
    width: 100%;
    background: antiquewhite;
}